<%- include('partials/header') -%>

<main class="container">
    <div class="row justify-content-around mt-5">
        <a href="/login" class="col-3 btn btn-primary"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
    </div>
</main>
<body>
    <h2>Welcome to the Content Creator Handbook</h2>
    <p>These days content creation  has been a past time that has rapidly grown in popularity over the past almost 15 years. From making videos on YouTube to live streaming on Twitch, millions of people a day are letting their creativity shine across these types of platforms. Some even are fortunate enough to turn these passions into a living.But for those getting started it can be a daunting taste figuring out what equipment to get, what software to use, and how to properly use them. And that's what my mission here is, to give you all the information and resources I can offer to get you started. Let's go!!! time to get you started on your content creation journey.</p>
</body>
<%- include('partials/navigate') -%>
<%- include('partials/footer') -%>