<%- include('partials/header') -%>

<main class="container">
    <div class="row justify-content-around mt-5">
        <a href="/login" class="col-3 btn btn-primary"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
    </div>
</main>
<section>
    <h2>Streaming Essentials</h2>
    <p>Streaming is probably one of the most straight forward methods of content creation which has lead to it becoming very popular over the past couple of years. Streaming is the production of live content and interacting with an audience while you do your streams. While websites like Twitch have had a large focus on video game content, live streaming has become a popular method of sharing ones experiences playing video games, drawing, making music, and so much more with their live audiences. While getting started has become more and more simple over the years, there's still a bit you should know before hitting the go live button. Below I've given the basics of what you need to get started and if you want to go more in-depth you can click the titles of each section.</p>
</section>
<section>
    <h3><a href="#">Software</a></h3>
    <p>Depending on what you are looking to stream the basic  set up to start streaming can be very simple. If you want to stream video games from modern PlayStation or Xbox consoles there are built in streaming features on the consoles, so you can just connect to your streaming platform of choice (ex. YouTube, Twitch, Facebook) and start streaming. You can even do live streams from your phone directly through your streaming platforms app. However these options are very limited in what they allow you to do on your streams. For most scenerios you will want a dedicated streaming software on your computer to do your live streaming. One of the most popular streaming programs these days is Streamlabs OBS. It is a free and generally easy to use programs that can take care of your basic needs and also handle more complex tasks once you get further along and want to do more with your streams. Below I've included a video to get you started with setting up the program.</p>
</section>
<section>
    <h3><a href="#">Equipment</a></h3>
    <p>Similarly as with software, depending on what content you want to make and how you want your stream to operate you may not need any extra equipment. For most streaming need you will need to have a fairly decent computer and a solid internet connection. For gaming content you will want to have a capture card such as the Elgato HD60 S. While you can stream directly from an Xbox or PlayStation, if you want to stream from any other consoles, like the Nintendo Switch, you will need a capture card to get your gameplay to your viewers. Even for Xbox and PlayStation consoles you will want to use a capture card in addition to a streaming software to give yourself more control over your streams. Let's go a little more in depth. </p>
</section>